body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
body h1{
    text-align: center;
}
body h2{
    text-align: center;
    font-size: 1em;
}
#goal{
    width: 800px;
    height: 500px;
    background-color: black;
    margin: auto;
    border-top: 12px solid black;
    border-left: 12px solid black; 
    border-right: 12px solid black;
}
#net{
    z-index: -10; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    background-image: url(../img/net.jpg) ;
}
.netsq{
    display: flex;
    justify-content: center;
    align-items: center;
}
.position{
    display: none;
}
#img-sq1{
    width: 300px;
    position: absolute;
    left: 20%;
    bottom: 30%;
}
#img-sq2{
    height: 400px;
    position: absolute;
    left: 42%;
    bottom: 30%;
}
#img-sq3{
    width: 300px;
    position: absolute;
    right: 20%;
    bottom: 30%;
}
#img-sq4{
    width: 350px;
    position: absolute;
    left: 20%;
    bottom: 20%;
}
#img-sq5{
    height: 280px;
    position: absolute;
    left: 45%;
    bottom: 18%;
}
#img-sq6{
    width: 350px;
    position: absolute;
    right: 20%;
    bottom: 20%;
}
#sphere{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.ballbw{
    width: 150px;
}
.answer{
    display:none;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#result{
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
}
#restartButton{
    width: 100px;
    align-items: right;
    font-size: 1.5em;
    text-align: right;
    border-radius: 10%;
}