body{
    background-color: lightgray;
}
body h1{
    text-align: center;
}
#goal{
    width: 800px;
    height: 500px;
    background-color: black;
    margin: auto;
    border-top: 12px solid black;
    border-left: 12px solid black; 
    border-right: 12px solid black;
}
#net{
    z-index: -10; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
}
#sq1{
    background-color: red;
}
#sq2{
    background-color: blue;
}
#sq3{
    background-color: green;
}
#sq4{
    background-color: yellow;
}
#sq5{
    background-color: purple;
}
#sq6{
    background-color: orange;
}
.netsq{
    display: flex;
    justify-content: center;
    align-items: center;
}
.position{
    display: none;
}
#img-sq1{
    width: 300px;
    position: absolute;
    left: 20%;
    bottom: 30%;
}
#img-sq2{
    height: 400px;
    position: absolute;
    left: 42%;
    bottom: 30%;
}
#img-sq3{
    width: 300px;
    position: absolute;
    right: 20%;
    bottom: 30%;
}
#img-sq4{
    width: 350px;
    position: absolute;
    left: 20%;
    bottom: 20%;
}
#img-sq5{
    height: 280px;
    position: absolute;
    left: 45%;
    bottom: 18%;
}
#img-sq6{
    width: 350px;
    position: absolute;
    right: 20%;
    bottom: 20%;
}
#sphere{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.ballbw{
    width: 150px;
}
#result{
    width: 800px;
    margin: auto;
    font-size: 2em;
    text-align: right;
}